@import 'tailwindcss';

:root {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  line-height: 1.5;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Knock 앱 커스텀 컬러 */
  --color-primary: #165ee0;
}

@layer utilities {
  /* Primary Colors */
  .bg-primary {
    background-color: var(--color-primary);
  }
  .text-primary {
    color: var(--color-primary);
  }

  /* 스크롤바를 숨기는 새로운 유틸리티 클래스 */
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
  }

  /* 스캔 애니메이션 */
}
